/* body {
	overflow: hidden;
} */

.App {
	text-align: center;
	overflow: hidden;
}

.word-cloud-app-header {
	text-align: left;
	font-family: "Times New Roman";
	font-weight: bold;
	font-style: italic;
	color: gray;
	margin: 1% 0 0 6%;
	text-decoration: underline;
}

.word-cloud-container {
	max-height: 100vh;
}
